.form-popup__button-submit {
  background: #000000;
  border-radius: 2px;
  color: #FFFFFF;
  max-width: 358px;
  width: 100%;
  padding: 0px;
  min-height: 50px;
  margin-bottom: 37px;
  cursor: pointer;
  margin-top: 31px;
}

@media screen and (max-width:768px) {
  .form-popup__button-submit {
    margin-bottom: 25px;
  }
}